.video-list {
  padding: 80px 0;
}
.video__list-title {
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 0.8px;
  margin-bottom: 40px;
}
.video__list-items {
  --grid-count: 3;
  --grid-column-gap: 12px;
  display: grid;
  grid-template-columns: repeat(
    var(--grid-count),
    calc(
      (100% / var(--grid-count)) -
        (var(--grid-column-gap) * (var(--grid-count) - 1) / var(--grid-count))
    )
  );
  gap: 40px var(--grid-column-gap);
}

.video__list-card {
  position: relative;
}

.video-card__thubnail {
  border-radius: 16px;
  margin-bottom: 12px;
  width: 100%;
}
.video__card-title {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
.video__card-channel {
  font-size: 20px;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
.video__card-duration {
  font-size: 16px;
  letter-spacing: 0.02em;
}
.video__card-favorite {
  position: absolute;
  top: 12px;
  right: 12px;
}

.video__card-favorite .star {
  display: none;
}

.video__card-favorite-active .star {
  display: block;
}
.video__card-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 1024px) {
  .video-list {
    padding: 60px 0;
  }
  .video__list-title {
    font-size: 32px;
    margin-bottom: 32px;
  }

  .video__list-items {
    row-gap: 32px;
  }

  .video__card-title {
    font-size: 24px;
  }
  .video__card-channel {
    font-size: 20px;
  }
  .video__card-duration {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .video__list-items {
    --grid-count: 2;
  }
}

@media (max-width: 540px) {
  .video-list {
    padding: 40px 0 60px;
  }

  .video__list-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .video__list-items {
    --grid-count: 1;
    gap: 20px;
  }

  .video__card-title {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .video__card-channel {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .video__card-duration {
    font-size: 14px;
  }
}
